<div class="container-fluid loginBackground">
<div class="col-lg-offset-4 col-lg-4 parentContainer">
    

<div class="col-lg-12 col-md-12">
<div class="first text-center">
Login into your account
</div>
</div>    


    
  
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>  
<div class="col-lg-12 col-md-12">
  <div class="input-group margin-top-sm">
    <span class="input-group-addon"><i class="fa fa-cog fa-lg fa-fw"></i></span>  
    <%= f.text_field :employee_id, autofocus: true,:placeholder=>"Employee ID",:class=>"form-control" %>
  </div>

  <div class="input-group margin-top-sm">
    <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></span>  
       <%= f.password_field :password, autocomplete: "off",:placeholder=>"Password",:class=>"form-control" %>
  </div>
 </div> 
 
<div class="col-lg-12 col-md-12 margin-top-sm"> 
    <%= f.submit "Log in",:class=>"btn btn-primary btn-block" %>  
  </div>
<% end %>

<div class="col-lg-12 col-md-12 margin-top-sm text-center margin-btm-sm">
<%= link_to "New User?",'/users/sign_up' %> 
</div>

</div>
</div>
