<p id="notice"><%= notice %></p>
<div>
<%= @post.title %>
</div>
<div>
<%= @post.description %>
</div>
<div>
<%= @post.category.parent.name %> > <%= @post.category.name %>
</div>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
